// Accordions
//
// Collapsable containers


.tab {
    overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 50%;
  cursor: pointer;
}
.tab-label:hover {
}
.tab-label::after {
  content: "\276F";
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

input:checked + .tab-label {
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: right;
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

input{
  position: absolute;
  opacity: 0;
  z-index: -1;
}
