

:root[mode="dark"] .dark--hidden {
    display: none;
}
:root[mode="light"] .light--hidden {
    display: none;
}


.index {

    .about {
        @extend %padding-small;
        float: center;
    }

    .contact-table {
        @extend %padding-large;
        padding-top: 0 !important;
        table {
            td {
                padding-top: .5em;
                &:first-of-type {
                    padding-top: 0;
                }
            }
            td:nth-child(1)  {
                font-size: 2em;
                vertical-align: top;
                float: center;
                text-align: center;
                a {
                    color: $color-primary;
                }
            }
            td:nth-child(2) {
                text-align: left;
                vertical-align: middle;
                padding-left: 3%;
                lu {
                    list-style: none;
                    li {
                        padding-left: 3%;
                    }
                }
            }
        }
    }
}
