
.works {
    @extend %padding-small;

    .projects {
        padding: 1% 5%;
    }
}

.publications {
    @extend %padding-small;

    .authors {
        font-weight: bold;
    }

    .journal {
        font-style: italic;
    }
}
