.site-header {
    padding: 2% 15%;
    background: $color-primary;
    // border-bottom: solid 1px;
    border-color: lighten($color-on-background, 50%);
    color: $color-on-primary;
    display: inline-block;
    width: 100%;

    a {
        color: $color-on-primary
    }

    .site-title {
        margin: 0;
        list-style: none;
        float: left;
        font-weight: bold;
    }
    .site-nav {
        margin: 0;
        list-style: none;
        float: right;
        text-align: right;
        li {
            display: inline;
            margin-right: 1em;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .page-link {
        padding: 10px;
    }
     
}
