
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: $background-color;
}

selection {
    color: $color-on-primary;
    background: $color-primary;
}
::-moz-selection {
    color: $color-on-primary;
    background: $color-primary;
}

body {
    color: $color-on-background;
    font-family: $font-family;
    font-size: $font-size;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0.67em 0;
    a {
        color: $color-on-background;
    }
}
h1 {
    font-size: 2.5 em;
}
h2 {
    font-size: 2 em;
}
h3 {
    font-size: 1.5 em;
}
h4 {
    font-size: 1.15 em;
}

a {
    color: $color-primary-variant;
    text-decoration: none;
}

iframe, img, embed, object, video {
    max-width: 100%;
}

.page-404 {
    @extend %padding-small;
    padding-top: 7% !important;
    padding-bottom: 7% !important;
    text-align: center;
}
