
@mixin mode-toggle($dark-mode: false) {
  @if $dark-mode {
    @include dark-scheme;

    .mode-toggle {
      transform: rotateY(180deg);
    }

  } @else {
    @include light-scheme;

    .mode-toggle {
      transform: none;
    }
  }

}

html:not([mode]),
html[mode=light] {
  @include mode-toggle();
}

html[mode=dark] {
  @include mode-toggle(true);
}

@media (prefers-color-scheme: dark) {
  html:not([mode]),
  html[mode=dark] {
    @include mode-toggle(true);
  }

  html[mode=light] {
    @include mode-toggle();
  }
}

$color-primary: #86dde3 !default;
$color-primary-variant: #33a9b6 !default;
$color-secondary: #00c47d !default;
$color-secondary-variant: #00a95c !default;
$color-error: #cf4e42 !default;
$color-error-variant: #b04036 !default;

$color-on-background: #262626 !default;
$color-on-surface: #262626 !default;
$color-on-primary: #262626 !default;
$color-on-secondary: #262626 !default;
$color-on-error: #262626 !default;

// Text
$font-family: 'Open Sans', Helvetica, Arial, sans-serif !default;
$font-size: 1em !default;

// Padding
$padding-large: 25% !default;
$padding-small: 15% !default;
$padding-x-small: 5% !default;
$padding-vert: 1% !default;
